body {
    background-color: #efefef;
}

.comment {
    margin: 10px 0;
}

.media-body {
    padding-top: 12px;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-modify {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 30px;
}