<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZTY社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">ZTY社区</span>
            </button>
            <a class="navbar-brand" href="#">ZTY社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="not ${session.user}"><a href="https://github.com/login/oauth/authorize?client_id=Iv1.8e672d03e6a8f4e9&redirect_url=http://localhost:8080/callback&scope=user&state=1">登录</a></li>
                <li th:if="${session.user}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xm-12 col-sm-12 col-md-12 col-md-12 col-lg-9" >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." id="title" name="title" placeholder="请输入标题">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">主题类别<span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">C++</a></li>
                            <li><a href="#">JAVA</a></li>
                            <li><a href="#">Python</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <label for="textarea">问题补充，请参照右边格式：</label>
            <textarea class="form-control" cols="30" rows="10" id="textarea" name="textarea"></textarea>
            <div class="col-xm-2 col-sm-2 col-md-2 col-md-2 col-lg-3">
                <label for="title">添加标签：</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入标签，以“,”分隔">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">确认标签</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div>
                <button type="button" class="btn btn-success">提交</button>
            </div>
            <!-- Indicates a successful or positive action -->
        </div>
        <div class="col-xm-12 col-sm-12 col-md-12 col-md-12 col-lg-3">
            <h3>问题发起指南</h3>
            天雨做测试使用信息<br>
            天雨做测试使用信息<br>
            天雨做测试使用信息<br>
            天雨做测试使用信息<br>
            天雨做测试使用信息<br>
            天雨做测试使用信息<br>
            天雨做测试使用信息<br>
            天雨做测试使用信息<br>
        </div>
    </div>
</div>
</body>
</html>