<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZTY社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/jquery-3.6.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body class="body">
<div th:insert="~{navigation::nav}"></div>

<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 " style="background-color: white">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  发起</h2>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)：</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="请输入标题...">
                </div>
                <div class="form-group">
                    <label for="title" style="margin-bottom: 10px;">问题补充，请按照右侧各式要求填写：</label>
                    <textarea type="text" class="form-control" th:text="${description}" rows="10" cols="30" id="description" name="description" placeholder="问题补充..."></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签(以逗号隔开)：</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签,以逗号分隔"></input>
                </div>
                <!-- Indicates a successful or positive action -->
                <span class="alert alert-danger" th:text="${error}" th:if="${error}"></span>

                <button type="submit" class="btn btn-success btn-publish">提交</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" style="background-color: white">
            <h3>发布问题指南</h3>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
            张天雨测试文档信息<br>
        </div>
    </div>
</div>
</body>
</html>